@font-face {
  font-family: 'Montserrat';
  src: url("@/assets/styles/fonts/Montserrat-Regular.ttf");
}

.footer-form {
  .el-input {
    font-size: 18px;
    width: 100%;
    color: #FFF !important;
  }
  .el-input__inner {
    --el-input-inner-height: 40px;
    width: 533px;
    color: #FFF !important;
    font-size: 18px;
    font-family: Montserrat;
    height: 40px;
    line-height: 30px;
    border: none;
    background: inherit;
  }
  .el-form-item {
    display: flex;
    --font-size: 18px;
    color: #FFF;
  }
  .el-input__wrapper {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #FFF !important;
    color: #FFF !important;
  }
  .el-form {
    --el-form-inline-content-width: 220px;
  }
  .el-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 32px;
    color: #FFF !important;
  }
  .el-form-item.is-error .el-input__wrapper {
    box-shadow: none;
    border-bottom: 1px solid var(--el-color-danger);
  }
  .el-input__wrapper.is-focus {
    box-shadow: none;
    border-bottom: 1px solid var(--el-input-focus-border-color);
  }
  .el-form-item.is-error .el-input__wrapper.is-focus {
    box-shadow: none !important;
    border-bottom: 1px solid var(--el-color-danger);
  }
}
 .contacts-form {
   .el-form-item.is-error .el-input__wrapper.is-focus {
     box-shadow: none !important;
     border-bottom: 1px solid var(--el-color-danger);
   }
   .el-form-item__content {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     line-height: 32px;
     color: #FFF !important;
   }
   .el-input {
     font-size: 18px;
     width: 100%;
     color: #FFF !important;
   }
   .el-input__wrapper {
     display: inline-flex;
     flex-grow: 1;
     align-items: center;
     justify-content: center;
     background-color: inherit;
     border-radius: 0;
     box-shadow: none;
     border-bottom: 1px solid #FFF !important;
     color: #FFF !important;
   }
   .el-input__inner {
     color: #000 !important;
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin-top: 25px;
     width: 451px;
     border-bottom: 1px solid #B0B0B0;
   }
   .el-button {
      width: 100%;
      height: 50px;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      border: 2px solid #DF2129;
      padding: 13px 17px;
      background: #DF2129;
      cursor: pointer;
      color: white;
      margin-top: 20px;
   }
   .el-button:hover {
     background: inherit;
     color: #DF2129;
     transition: 0.3s;
   }
   .el-textarea__inner {
     height: 100px;
     margin-top: 25px;
     color: #000 !important;
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin-top: 25px;
   }
 }
.el-collapse-item__header {
  width: 100%;
  padding: 0;
  border-bottom: 1.5px solid #B0B0B0;
  border-top: 1.5px solid #B0B0B0;
  display: flex;
  align-items: center;
  height: 150px;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
}
.el-collapse-item__content {
  padding-bottom: 50px;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
}
.delivery-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .el-table .cell {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .el-table thead.is-group th.el-table__cell {
    background: rgba(223, 33, 41, 0.09);
    border: 1px solid rgba(223, 33, 41, 0.59);
  }
  .el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border-bottom: 1px solid rgba(223, 33, 41, 0.59);
  }
  .el-table--border .el-table__cell {
    border-right: 1px solid rgba(223, 33, 41, 0.59);
  }
  .el-table thead th {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: small-caps;
    padding: 39px 0;
  }
  .el-table__border-left-patch {
    background-color: #DF2129;
  }
  .el-table td.el-table__cell div {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    padding: 36px 23px;
  }
  .el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border-bottom: 1px solid rgba(223, 33, 41, 0.59) !important;
  }
  .el-table {
    --el-table-border-color: rgba(223, 33, 41, 0.59);
    max-width: 1920px;
    --el-table-border: 1px solid var(--el-table-border-color);
    --el-table-row-hover-bg-color: rgba(223, 33, 41, 0.09);
  }
  .el-scrollbar__thumb {
    background-color: rgba(223, 33, 41, 0.59);
    border: 1px solid red;
  }
}
.blocks-characteristics-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .el-table thead {
    color: #DF2129;
  }
  .el-table .cell {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .el-table thead.is-group th.el-table__cell {
    background: rgba(223, 33, 41, 0.09);
    border: 1px solid rgba(223, 33, 41, 0.59);
  }
  .el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border-bottom: 1px solid rgba(223, 33, 41, 0.59);
  }
  .el-table--border .el-table__cell {
    border-right: 1px solid rgba(223, 33, 41, 0.59);
  }
  .el-table thead th {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: capitalize;
    padding: 42px 32px;
    background: #DF2129;
  }
  .el-table__border-left-patch {
    background-color: rgba(223, 33, 41, 0.59);
  }
  .el-table td.el-table__cell div {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    padding: 42px 23px;
  }
  .el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border: 0.5px solid rgba(223, 33, 41, 0.59) !important;
  }
  .el-table {
    --el-table-border-color: rgba(223, 33, 41, 0.59);
    max-width: 1920px;
    --el-table-border: 1px solid var(--el-table-border-color);
    --el-table-row-hover-bg-color: rgba(223, 33, 41, 0.09);
  }
  .el-scrollbar__thumb {
    background-color: rgba(223, 33, 41, 0.59);
    border: 1px solid red;
  }
}
.wall-blocks {
  .el-carousel {
    --el-carousel-arrow-font-size: 12px;
    --el-carousel-arrow-size: 59px;
    --el-carousel-arrow-background: white;
    --el-carousel-arrow-hover-background: #cbcbcb;
    --el-carousel-indicator-out-color: black;
    position: relative;
  }
  .el-icon svg {
    height: 25px;
    width: 25px;
    color: black;
  }
  .el-carousel__container {
    position: relative;
    height: 621px;
  }
}
@media(max-width: 593px) {
.wall-blocks {
  .el-carousel__arrow {
    height: 35px;
    width: 35px;
    top: 30%;
  }
}
}
@media(max-width: 1111px) {
  .el-collapse-item__header {
    font-size: 28px;
  }
  .el-collapse-item__content {
    font-size: 28px;
  }
}
@media(max-width: 800px) {
  .el-collapse-item__header {
    font-size: 22px;
  }
  .el-collapse-item__content {
    font-size: 22px;
  }
}
@media(max-width: 600px) {
  .el-collapse-item__header {
    font-size: 19px;
  }
  .el-collapse-item__content {
    font-size: 19px;
  }
}
@media(max-width: 400px) {
  .el-collapse-item__header {
    font-size: 16px;
  }
  .el-collapse-item__content {
    font-size: 16px;
  }
}
@media(max-width: 1756px) {
  .footer-form {
    .el-input__inner {
      width: 433px;
    }
  }
}
@media(max-width: 1175px) {
  .footer-form {
    .el-input__inner {
      width: 950px;
    }
  }
}
@media(max-width: 1070px) {
  .footer-form {
    .el-input__inner {
      width: 850px;
    }
  }
}
@media(max-width: 963px) {
  .footer-form {
    .el-input__inner {
      width: 750px;
    }
  }
}
@media(max-width: 870px) {
  .footer-form {
    .el-input__inner {
      width: 650px;
    }
  }
}
@media(max-width: 754px) {
  .footer-form {
    .el-input__inner {
      width: 550px;
    }
  }
}
@media(max-width: 660px) {
  .footer-form {
    .el-input__inner {
      width: 450px;
    }
  }
}
@media(max-width: 540px) {
  .footer-form {
    .el-input__inner {
      width: 350px;
    }
  }
}
@media(max-width: 444px) {
  .footer-form {
    .el-input__inner {
      width: 250px;
    }
  }
}